<meta charset="UTF-8">
<title>Oscar</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  .heading { color:blue; }
  .heading2 {color:cyan;}
  .subHeading {color: lightgreen;}
    body {
        font-family: Arial;
        margin: 0;
        background-image: url('../../img/computerBrain.png');
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 80%;
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* .container {
        position: relative;
        text-align: center;
        padding: 2px 16px;
    } */
</style>