<h1 style = "color:blue"> Dev Lab Oscar </h1>
<h1> This is a live example of sending data between front and back end </h1>


<h1> Hi there, <%=userName%> </h1>

<form method="post" action="/saveToNode">
    <label>Change the data: </label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>

<br> 

<h2 style = "color:blue"> A little about Express </h2>
<p> Express is a minimalist web framework for node.js </p>

<p> un ordered list and features will go here </p>

<h2 style = "color:blue"> A little about npm</h2>
<p> npm is a package managing system used to adapt packages of code and incorporate them as they are.
    npm was officially acquired by GitHub in 2020.</p>
<p>features:</p>
<p>Download and immediately use tools. Share your code with anyone on npm or limit it to specific profiles.
    npm is very configurable to support a variety of cases.
    The npm Registry contains packages of open-source code for Node.js and countless other needs of the JavaScript community.
</p>

<h2 style = "color:blue"> A little about Node</h2>
<p> Node is an asynchronous event-driven JavaScript runtime designed for building scalpable network connections.</p>
<p>features:</p>
<p>Handles multiple connections concurrently. Callback is fired upon each connection. 
    Node.js will go to sleep if there is nothing to be done.
    Node.js does not involve locks, removing the worry of deadlocking your projects.
    Presents an event loop as a runtime construct rather than a library</p>