<h1 style = "color:blue"> Dev Lab Oscar </h1>
<h1> This is a live example of sending data between front and back end </h1>


<h1> Hi there, <%=userName%> </h1>

<form method="post" action="/saveToNode">
    <label>Change the data: </label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>

<br> 

<h2 style = "color:blue"> A little about Express </h2>
<p> Express is a minimalist web framework for node.js </p>

<p> un ordered list and features will go here </p>